<h1>Welcome to the longest word-game!</h1>
<p>Here is your grid:</p>
@letters

<p>What is your longest word?</p>
<form action="answer" data-turbo="false">
  <input type="text" name="word">
  <input type="submit" value="Submit!" class="button">
</form>
